*{
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.container-top{
    display: flex;
    background-color: #1f2937;
    height: 100px;
    justify-content: center;

}
.container-hero{
    background-color: #1f2937;
    height: 400px;
}
ul{
    list-style-type: none;
}

.nav-container{
    color: white;
    width: 900px;  
    justify-content: right;
    
}

.nav-container li{
    padding: 14px 16px;
    display: inline;
    float: right;
}

.hero-text-container{
    padding: 20px; 
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height:300px;
    
    
}
.rightbox{
    width:450px;
}
.image-ph{
    
    background-color: #e5e7eb;
    width: 450px;
    height: 250px;
    border: 1px;
}
.herotext{
    font-size: 48px;
    color: #f9faf8;
}
.herodescription{
    font-size: 18px;
    color: #e5e7eb;
}
.headlogo{
    font-size: 24px;
    color: #f9faf8;
    display: inline;
}
.navdisplay{
    display: inline;
}
.imgplacehold{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
.button{
    background-color: #3882f6;
    padding: 2px 2px;
    text-align: center;
    border-radius: 4px;
    width: 75px;
    font-size: 14px;
    color: #f9faf8;
}